<ion-view view-title="Ativação 52 Semanas" view-cache="false" hide-back-button="true">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">

            <header-logo-mini></header-logo-mini>
            <msg></msg>
            <div>
                <div class="list list-atv m-b-10 m-t-10">
                    <div class="padding" style="background-color: #fff;border-radius:10px;">
                        <div class="item item-input m-0" style="border:none;">
                            <input class="bd-bottom" type="text" ng-model="ativacao.evento" placeholder="Evento" value="{{ativacao.evento}}">
                        </div>

                        <div class="item item-input m-0" style="border:none;">
                            <textarea class="bd-bottom" ng-model="ativacao.descricao" rows="4" placeholder="Descrição">{{ativacao.descricao}}</textarea>
                        </div>

                        <div class="item item-input m-0" style="border:none;">
                            <input class="bd-bottom" type="date" ng-model="ativacao.data" placeholder="Data" value="{{ativacao.data}}">
                        </div>

                        <div class="item item-input m-0" style="border:none;">
                            <input class="bd-bottom" type="text" ng-model="ativacao.local" placeholder="Local" value="{{ativacao.local}}">
                        </div>
                    </div>

                    <button ng-if="btn_imagem < 1" class="button button-block button-balanced" ng-click="salvar()"><i class="fa fa-check-square-o" aria-hidden="true"></i> Salvar</button>

                    <button ng-if="btn_imagem > 0" class="button button-block button-royal mt-10 mb-0" ng-click="tirarFoto(1)"><i class="{{btn_ok.ok_1}}" aria-hidden="true"></i> Tirar Foto 1</button>
                    <button ng-if="btn_imagem > 0" class="button button-block button-royal mt-10 mb-0" ng-click="tirarFoto(2)"><i class="{{btn_ok.ok_2}}" aria-hidden="true"></i> Tirar Foto 2</button>
                    <button ng-if="btn_imagem > 0" class="button button-block button-royal mt-10 mb-0" ng-click="tirarFoto(3)"><i class="{{btn_ok.ok_3}}" aria-hidden="true"></i> Tirar Foto 3</button>


                    <button ng-if="btn_imagem > 0" class="button button-block button-balanced" ng-click="confirmar()"><i class="fa fa-check-square-o" aria-hidden="true"></i> Finalizar</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>