<ion-view view-title="Ativação 52 Semanas" view-cache="false"  hide-back-button="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo-mini></header-logo-mini>
        <msg></msg>
        <div class="list padding list-atv">
            <div class="padding" style="background-color: #fff;border-radius:10px;">
                <div class="item item-input" style="border:none;">
                    <input type="text" ng-model="ativacao.evento" placeholder="Evento" value="{{ativacao.evento}}" style="border: 1px solid #ccc;">
                </div>

                <div class="item item-input" style="border:none;">
                    <textarea ng-model="ativacao.descricao" rows="4" placeholder="Descrição" style="border: 1px solid #ccc;">{{ativacao.descricao}}</textarea>
                </div>

                <div class="item item-input" style="border:none;">
                    <input type="date" ng-model="ativacao.data" placeholder="Data" value="{{ativacao.data}}" style="border: 1px solid #ccc;">
                </div>

                <div class="item item-input" style="border:none;">
                    <input type="text" ng-model="ativacao.local" placeholder="Local" value="{{ativacao.local}}" style="border: 1px solid #ccc;">
                </div>
            </div>

            <button class="button button-block button-positive" ng-click="salvar()">Salvar</button>

            <button ng-show="btn_imagem > 0" class="button button-block button-royal" ng-click="tirarFoto(1)"><i class="{{btn_ok.ok_1}}" aria-hidden="true"></i> Tirar Foto 1</button>
            <button ng-show="btn_imagem > 0" class="button button-block button-royal" ng-click="tirarFoto(2)"><i class="{{btn_ok.ok_2}}" aria-hidden="true"></i> Tirar Foto 2</button>
            <button ng-show="btn_imagem > 0" class="button button-block button-royal" ng-click="tirarFoto(3)"><i class="{{btn_ok.ok_3}}" aria-hidden="true"></i> Tirar Foto 3</button>

        </div>

    </ion-content>

</ion-view>
