<ion-view view-title="BAM - Relatorios Minha Base" view-cache="true">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo></header-logo>

        <div class="padding">
            <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">Cobertura</h4>
                <div class="item item-text-wrap pl-0 pr-0 cobertura-graph">
                    <div class="wp-32 d-iblock h-100">
                        <pie-chart data="total_pdv" options="options_pie"></pie-chart>
                        <span class="text-center d-block color-grey">
                            Total PDVs
                        </span>
                    </div>
                    <div class="wp-32 d-iblock h-100">
                        <pie-chart class="primeira_visita" data="primeira_visita" options="options_pie"></pie-chart>
                        <span class="text-center d-block color-yellow">
                            1ª Visita
                        </span>
                    </div>
                    <div class="wp-32 d-iblock h-100">
                        <pie-chart data="segunda_visita" options="options_pie"></pie-chart>
                        <span class="text-center d-block color-green">
                            2ª Visita
                        </span>
                    </div>
                </div>
            </div>

            <div class="list list-inset borda-grey header-block">
                <h4 class="padding text-center">Histórico</h4>

                <div ng-repeat="(k,v) in dados.historicos" class="item item-text-wrap m-0 p-0">
                    <div class="timeline timeline-{{isTipo(v)}} d-iblock va-t wp-20">
                        &nbsp;
                    </div>
                    <div class="timeline-details padding-top padding-bottom d-iblock va-t wp-78">
                        <div class="d-iblock va-t wp-78">
                            <strong class="d-block">{{v.tipo}}</strong>
                            <span class="d-block">{{v.nome}}</span>
                            <small class="d-block">{{v.data_final| date}}</small>
                        </div>
                        <div class="text-center d-iblock va-t wp-20">
                            <i class="ion-chevron-right color-grey"></i>
                        </div>
                    </div>
                </div>

                <div class="padding item-footer">
                    <button class="button btn-vermais button-purple-o m-0">Ver Mais <i class="ion-chevron-right"></i></button>
                </div>
            </div>

            <div class="list list-inset borda-grey header-block">
                <h4 class="padding text-center">Rota BAM</h4>
                <div ng-repeat="(key,v) in dados.rota_bem">
                    <div class="item item-text-wrap row rota-graph">
                        <div class="wp-25 h-100">
                            <pie-chart data="v.dados" options="v.options"></pie-chart>
                        </div>
                        <div class="wp-75 padding-top padding-bottom">
                            <h3>{{v.nome}}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list list-inset borda-grey header-block">
                <h4 class="padding text-center">Programa de Mercado - RAC</h4>

                <div ng-repeat="(key,v) in dados.geral_rac" class="item item-text-wrap">
                    <h3><i class="ion-record color-{{v.color}}"></i> {{v.nome}}</h3>
                </div>

                <div id="donutchart" class="item item-text-wrap h-250 wp-100"></div>

                <div class="item item-text-wrap ranking-head row padding-top padding-bottom">
                    <div class="col-10 text-center">RKG</div>
                    <div class="col p-0">PDV</div>
                    <div class="col-20">Pontos</div>
                </div>
                <div class="m-0" ng-repeat="(k,v) in dados.clientes_rac">
                    <div class="ranking-body item item-text-wrap row padding-top padding-bottom">
                        <div class="col-10 text-center">{{(k + 1)}}</div>
                        <div class="col p-0">{{v.nome}}</div>
                        <div class="col-20">{{forceInt(v.pontuacao)}}</div>
                    </div>
                </div>
                <div class="padding item-footer">
                    <button class="button btn-vermais button-purple-o m-0">Ver Mais <i class="ion-chevron-right"></i></button>
                </div>
            </div>

        </div>

        <!--<div class="list list-inset borda-grey header-block">
                <h4 class="padding text-center">Volume BAM</h4>

                <div class="item item-text-wrap row m-0">
                    <div class="col padding-top padding-bottom text-center vol-left">
                        <strong>
                            Total Cerveja
                        </strong>
                    </div>
                    <div class="col padding-top padding-bottom text-center vol-right">
                        <div class="row">
                            <div class="col-50 text-left">
                                Período
                            </div>
                            <div class="col-33 text-right">
                                <strong>65HL</strong>
                            </div>
                            <div class="col-20">
                                <div class="triangle-up"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50 text-left">
                                YTD
                            </div>
                            <div class="col-33 text-right">
                                <strong>285HL</strong>
                            </div>
                            <div class="col-20">
                                <div class="triangle-down"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding item-footer">
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-balanced m-0"><i class="fa fa-thumbs-up"></i> Melhores PDVs</button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-assertive m-0"><i class="fa fa-thumbs-down"></i> Piores PDVs</button>
                        </div>
                    </div>
                </div>
            </div>-->

    </ion-content>

</ion-view>
