<ion-view view-title="Rota BAM" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">
            <header-logo-mini></header-logo-mini>

            <msg></msg>
            <div ng-if="ativos.produtos_1 > 0">
                <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                    <h4 class="padding text-center">Coleta de Produtos</h4>

                    <a ng-repeat="(key, value) in produtos_1" ng-click="busca(value.id, 2, false)" class="item item-icon-right item-text-wrap" style="border-bottom: 1px solid #efe8e8; border:none;">
                        <p style="font-size:11px;">{{value.nome}}</p>
                        <i class="grey icon fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div ng-if="ativos.produtos_2 > 0">
                <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                    <h4 class="padding text-center">{{titulos}}</h4>

                    <a ng-repeat="(key, value) in produtos_2" ng-click="busca(value.id, 3, true)" class="item item-icon-right item-text-wrap" style="border-bottom: 1px solid #efe8e8; border:none;">
                        <p style="font-size:11px;">{{value.nome}}</p>
                        <i class="grey icon fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
                <button class="button button-block button-stable m-0" ng-click="busca(0, 1, false)"><i class="ion-android-arrow-back" aria-hidden="true"></i> Voltar</button>
            </div>

            <div ng-if="ativos.produtos_3 > 0">
                <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                    <h4 class="padding text-center">{{titulos}}</h4>

                    <label class="item item-input m-0" style="position: relative; border-bottom: 1px solid #efe8e8; background: #fff; border:none;">
                        <span class="input-label col table-pad p-10">&nbsp;</span>
                        <span class="input-label col table-pad table-h" style="text-align: right; position: absolute; right: 0px; border: none; width: 35%; height: 50px;">Valor R$</span>
                    </label>

                    <label class="item item-input m-0" ng-repeat="(key, value) in produtos_3">
                        <span class="input-label p-10" style="display: inline-block;">{{value.nome}}</span>
                        <input type="number" string-to-number class="text-right p-10 h-50" ng-model="value.produto_valor" value="{{value.valor| inputMoeda}}" ng-blur="atualizar(value)">
                    </label>

                    <div class="padding item-footer m-0">
                        <button class="button button-block button-positive m-0" ng-click="salvar()"><i class="fa fa-check-circle" aria-hidden="true"></i> Salvar</button>
                    </div>
                </div>
                <button class="button button-block button-stable m-0" ng-click="busca(0, 1, false)"><i class="ion-android-arrow-back" aria-hidden="true"></i> Voltar</button>
            </div>
        </div>

        <div class="padding">
            <a class="button button-block button-balanced" ng-href="#/app/rota_bam_resumo"><i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmar</a>
        </div>

    </ion-content>

</ion-view>
