<ion-view view-title="Check-In" view-cache="true">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo></header-logo>
        <div class="padding">
            <p class="title-page text-center m-0">Selecione um PDV abaixo para realizar o Check-in</p>
            <div class="list">
                <a ng-repeat="(key, value) in clientes" class="item item-icon-right item-avatar" href="#/app/cliente/{{value.id}}">
                    <img src="{{value.url}}">
                    <h2>{{value.nome}}</h2>
                    <p>{{value.endereco}}, {{value.numero}}</p>
                    <i class="grey icon ion-android-checkmark-circle"></i>
                    <span ng-if="value.isShow2" class="label label-verde">{{value.checkin}}</span>
                    <span ng-if="value.isShow1" class="label label-amarelo">{{value.checkin}}</span>
                </a>
            </div>
        </div>
        <msg></msg>
    </ion-content>

</ion-view>
