<ion-view view-title="PDV - Relatorio" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">

            <header-logo-mini></header-logo-mini>

            <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">Rota BAM</h4>
                <div ng-if="dados.respostas.length > 1">
                    <div ng-repeat="(key, value) in dados.respostas">
                        <div class="item item-text-wrap row">
                            <div class="col-25 padding-top padding-bottom">
                                <div class="icon-rel text-center">
                                    <i class="{{isIcon(value)}} {{isColor(value)}}"></i>
                                </div>
                            </div>
                            <div class="col padding-top padding-bottom">
                                <h3>{{value.nome}}</h3>
                                <p>{{value.resposta}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right" ng-if="dados.respostas.length < 1">
                    <div class="list padding pl-0 pr-0">
                        <div class="item item-text-wrap item-calm text-center bordas">
                            Nenhum registro localizado.
                        </div>
                    </div>.
                </div>
            </div>

            <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">Programa de Mercado - RAC</h4>

                <div class="item item-text-wrap" ng-if="dados.certificacoes.length > 0">
                    <div class="text-center">
                        <div class="h-200 rac-graph">
                            <pie-chart id="rac-graph" data="total_pdv" options="options_pie"></pie-chart>
                        </div>
                        <h1 class="color-black padding">
                            <small class="d-block">Certificação: {{totalGeral}}pt.</small>
                        </h1>

                    </div>
                    <a ng-repeat="(key, value) in dados.certificacoes" style="text-decoration: none;" class="pl-10 pr-10" href="#/app/cliente_relatorio_historico_respostas/{{cliente.id}}/{{value.data}}/2">
                        <h4 class="color-black row m-0 p-0">

                            <div class="col text-left">
                                {{value.data| date}}
                            </div>
                            <div class="col text-right">
                                {{forceInt(value.total)}}pt.
                            </div>

                        </h4>
                        <progress class="m-0" max="1000" value="{{forceInt(value.total)}}"></progress>
                    </a>

                    <div ng-show="dados.gratificacao.total" class="padding">
                        <div class="bg-green margin padding">
                            <div class="d-block col-center text-center">Bateu Ganhou R$</div>
                            <div class="d-block text-center lh-28 fs-30">{{dados.gratificacao.total | currency:"R$ "}}</div>
                        </div>
                    </div>

                </div>
                <div class="text-right" ng-if="dados.certificacoes.length < 1">
                    <div class="list padding pl-0 pr-0">
                        <div class="item item-text-wrap item-calm text-center bordas">
                            Nenhum registro localizado.
                        </div>
                    </div>.
                </div>
            </div>

            <!--<div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">Volume BAM</h4>

                <div class="item item-text-wrap row m-0">
                    <div class="col padding-top padding-bottom text-center vol-left">
                        <strong>
                            Total Cerveja
                        </strong>
                    </div>
                    <div class="col padding-top padding-bottom text-center vol-right">
                        <div class="row">
                            <div class="col-50 text-left">
                                Período
                            </div>
                            <div class="col-33 text-right">
                                <strong>65HL</strong>
                            </div>
                            <div class="col-20">
                                <div class="triangle-up"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-50 text-left">
                                YTD
                            </div>
                            <div class="col-33 text-right">
                                <strong>285HL</strong>
                            </div>
                            <div class="col-20">
                                <div class="triangle-down"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding item-footer">
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-balanced m-0"><i class="fa fa-thumbs-up"></i> Melhores PDVs</button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-assertive m-0"><i class="fa fa-thumbs-down"></i> Piores PDVs</button>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">Histórico</h4>
                <div ng-if="dados.historicos.length > 0">
                    <a href="#/app/cliente_relatorio_historico_respostas/{{v.cliente_id}}/{{v.data_final}}/{{converteNome(v.tipo)}}" ng-repeat="(k,v) in dados.historicos" class="item item-text-wrap row m-0 p-0">
                        <div class="timeline timeline-{{isTipo(v)}} d-iblock va-t wp-20">

                        </div>
                        <div class="timeline-details padding-top padding-bottom d-iblock va-t wp-78">
                            <div class="d-iblock va-t wp-78">
                                <strong class="d-block">{{v.tipo}}</strong>
                                <span class="d-block">{{v.nome}}</span>
                                <small class="d-block">{{v.data_final| date}}</small>
                            </div>
                            <div class="text-center d-iblock va-t wp-20">
                                <i class="ion-chevron-right color-grey"></i>
                            </div>
                        </div>
                    </a>

                    <div class="padding item-footer">
                        <a href="#/app/cliente_relatorio_historico/{{cliente.id}}" class="button btn-vermais button-purple-o m-0">Ver Mais <i class="ion-chevron-right"></i></a>
                    </div>
                </div>
                <div class="text-right" ng-if="dados.historicos.length < 1">
                    <div class="list padding pl-0 pr-0">
                        <div class="item item-text-wrap item-calm text-center bordas">
                            Nenhum registro localizado.
                        </div>
                    </div>.
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
