<ion-view view-title="Editar - Cliente" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo-mini></header-logo-mini>
        <msg></msg>
        <div class="list padding list-atv">
            <div class="padding bg-white br-10"
                    <input type="text" class="border-form" placeholder="Nome do Cliente" value="{{cliente.nome}}" disabled>
                </div>
                <div class="item item-input no-border">
                    <input type="number" class="border-form" placeholder="CEP" ng-blur="buscaCep(cliente.cep)" ng-model="cliente.cep" value="{{cliente.cep}}">
                </div>
                <div class="wp-70 pr-5 item item-input no-border">
                    <input type="text" class="border-form" placeholder="Endereço" value="{{cliente.endereco}}" ng-model="cliente.endereco">
                </div>
                <div class="wp-30 pl-5 item item-input no-border">
                    <input type="text" class="border-form text-center" placeholder="Número" value="{{cliente.numero}}" ng-model="cliente.numero">
                </div>
                <div class="item item-input no-border">
                    <input type="text" class="border-form" placeholder="Complemento" value="{{cliente.complemento}}" ng-model="cliente.complemento">
                </div>
                <div class="item item-input no-border">
                    <input type="text" class="border-form" placeholder="Bairro" value="{{cliente.bairro}}" ng-model="cliente.bairro">
                </div>
                <div class="item item-input no-border">
                    <input type="text" class="border-form" value="{{cliente.cidade}} - {{cliente.estado}}" disabled>
                </div>
                <div class="item item-input no-border">
                    <button class="button button-block button-royal" ng-click="tirarFoto()"><i class="fa fa-camera" aria-hidden="true"></i> Alterar Foto</button>
                </div>
            </div>

            <button class="button button-block button-balanced" ng-click="salvar(cliente)"><i class="fa fa-check-square-o" aria-hidden="true"></i> Salvar</button>

        </div>

    </ion-content>

</ion-view>
