<ion-view view-title="Editar - Cliente" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo-mini></header-logo-mini>
        <msg></msg>
        <div class="padding-left padding-right">
            <div class="list list-inset list-atv borda-grey header-block">
                <h4 class="padding text-center">Editar dados de Cliente</h4>
                <form name="clientes" ng-submit="salvar(cliente)" novalidate>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">Nome</span>
                        <span class="input m-0 h-40 p-10">{{cliente.nome}}</span>
                    </div>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">CEP</span>
                        <input class="m-0 h-40 p-10" type="text" placeholder="CEP" ng-blur="buscaCep(cliente.cep)" ng-model="cliente.cep" value="{{cliente.cep}}">
                    </div>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">Endereço</span>
                        <input class="m-0 h-40 p-10" type="text" placeholder="Endereço" value="{{cliente.endereco}}" ng-model="cliente.endereco">
                    </div>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">Número</span>
                        <input class="m-0 h-40 p-10" type="text" placeholder="Número" value="{{cliente.numero}}" ng-model="cliente.numero">
                    </div>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">Comp.</span>
                        <input class="m-0 h-40 p-10" type="text" placeholder="Complemento" value="{{cliente.complemento}}" ng-model="cliente.complemento">
                    </div>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">Bairro</span>
                        <input class="m-0 h-40 p-10" type="text" placeholder="Bairro" value="{{cliente.bairro}}" ng-model="cliente.bairro">
                    </div>
                    <div class="item item-input m-0">
                        <span class="input-label p-10">Cidade</span>
                        <span class="input m-0 h-40 p-10">{{cliente.cidade}} - {{cliente.estado}}</span>
                    </div>
                    <div class="item item-input p-20 m-0">
                        <button class="avatar-button avatar-square p-0 no-border" type="button" ng-click="tirarFoto()">
                            <img ng-src="{{cliente.url}}" class="wp-100 d-block avatar m-15">
                            <div class="avatar-footer">
                                <i class="fa fa-camera"></i> Alterar Foto
                            </div>
                        </button>
                    </div>
                    <div class="padding item-footer">
                        <button class="button button-block button-balanced m-0" type="submit"><i class="fa fa-check-square-o" aria-hidden="true"></i> Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
