<ion-view view-title="PDV - {{cliente.nome}}" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">

            <header-logo-mini></header-logo-mini>

            <div class="list list-inset header-block">
                <mapa></mapa>
                <div class="clearfix"></div>
                <div class="item" style="font-size: 12px; padding:15px;">
                    <div class="wp-70 d-iblock va-t">
                        <span ng-if="cliente.endereco">{{cliente.endereco}}</span>
                        <span ng-if="cliente.numero">, {{cliente.numero}}</span>
                        <span ng-if="cliente.bairro" class="d-block">{{cliente.bairro}}</span>
                        <span ng-if="cliente.cidade" class="d-block">{{cliente.cidade}} - {{cliente.estado}}</span>
                    </div>
                    <div class="wp-30 d-iblock va-t">
                        <a class="button mini-button button-grey pull-right" href="#/app/cliente_edit/{{cliente.id}}">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list list-inset borda-grey header-block">
                <h4 class="padding text-center">O que você deseja fazer hoje?</h4>
                <ion-list>
                    <ion-radio ng-model="tipo_formulario" value="1" ng-change="serverSideChange(1)">Rota BAM</ion-radio>
                    <ion-radio ng-model="tipo_formulario" value="2" ng-change="serverSideChange(2)">Programa de Mercado</ion-radio>
                    <ion-radio ng-model="tipo_formulario" value="3" ng-change="serverSideChange(3)">Ativação 52</ion-radio>
                </ion-list>

                <div class="padding item-footer">
                    <button class="button button-block button-balanced m-0" ng-click="selecionado(cliente)">
                        <i class="fa fa-check" aria-hidden="true"></i> Confirmar Check-in
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="wp-50 pr-5 pull-left">
                <a class="button button-block button-royal p-0" href="#/app/cliente_relatorio/{{cliente.id}}">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> Relatório PDV
                </a>
            </div>
            <div class="wp-50 pl-5 pull-right">
                <a class="button button-block button-assertive p-0" href="#/app/ocorrencias/{{cliente.id}}">
                    <i class="fa fa-bell-o" aria-hidden="true"></i> Ocorrências
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>