<ion-view view-title="PDV - Resumo" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">
    
            <header-logo-mini></header-logo-mini>

            <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">Histórico</h4>

                <a href="#/app/cliente_relatorio_historico_respostas/{{v.cliente_id}}/{{v.data_final}}/{{v.tipo_id}}" ng-repeat="(k,v) in historico" class="item item-text-wrap row m-0 p-0">
                    <div class="timeline timeline-{{isTipo(v)}} d-iblock va-t wp-20">

                    </div>
                    <div class="timeline-details padding-top padding-bottom d-iblock va-t wp-78">
                        <div class="d-iblock va-t wp-78">
                            <strong class="d-block">{{v.tipo}}</strong>
                            <span class="d-block">{{v.nome}}</span>
                            <small class="d-block">{{v.data_final| date}}</small>
                        </div>
                        <div class="text-center d-iblock va-t wp-20">
                            <i class="ion-chevron-right color-grey"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </ion-content>
    <ion-infinite-scroll
        ng-if="proximo"
        on-infinite="loadMore()"
        distance="1%">
    </ion-infinite-scroll>
</ion-view>
