<ion-view view-title="{{tipo}}" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">
            <header-logo-mini></header-logo-mini>
            <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                <h4 class="padding text-center">
                    {{tipo}}
                    <small class="d-block text-center">{{data| date}}</small>
                </h4>
            </div>

            <div ng-repeat="(key, value) in perguntas" class="list list-inset borda-grey br-10 header-block">
                <h4 class="padding text-center">
                    {{value.formularios_campo.nome}}
                    <small ng-show="value.formularios_campo_id" class="d-block text-center">{{value.formularios_campo.subtitulo}}</small>
                </h4>
                <div>
                    <div class="item item-text-wrap m-0">
                        {{value.value}}
                    </div>
                </div>
            </div>
            
            <div ng-repeat="(key, value) in produtos" class="list list-inset borda-grey br-10 header-block">
                <h4 class="padding text-center">
                    {{value.produto.nome}}
                </h4>
                <div>
                    <div class="item item-text-wrap m-0">
                        {{value.valor}}
                    </div>
                </div>
            </div>
            <msg></msg>

        </div>
    </ion-content>

</ion-view>