<ion-view view-title="Editar - Cliente" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">
            <header-logo-mini></header-logo-mini>
            <msg></msg>
            <div class="list list-inset list-atv borda-grey header-block">
                <h4 class="padding text-center">Editar dados de Cliente</h4>
                <form name="clientes" ng-submit="salvar(cliente)" novalidate>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Nome</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.nome" disabled>
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">CEP</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.cep" ng-blur="buscaCep(cliente.cep)">
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Endereço</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.endereco">
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Número</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.numero">
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Complemento</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.complemento">
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Bairro</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.bairro">
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Cidade</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.cidade" disabled>
                    </label>

                    <label class="item item-input m-0">
                        <span class="input-label p-10">Estado</span>
                        <input class="m-0 h-40 p-10" type="text" ng-model="cliente.estado" disabled>
                    </label>

                    <label class="item item-input p-20 m-0">
                        <button class="avatar-button avatar-square p-0 no-border" type="button" ng-click="tirarFoto()">
                            <img ng-src="{{cliente.url}}" class="wp-100 d-block avatar m-15">
                            <div class="avatar-footer">
                                <i class="fa fa-camera"></i> Alterar Foto
                            </div>
                        </button>
                    </label>

                    <div class="padding item-footer">
                        <button class="button button-block button-balanced m-0" type="submit"><i class="fa fa-check-square-o" aria-hidden="true"></i> Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
