<ion-view view-title="Home" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo></header-logo>

        <div class="text-justify" style="padding: 10% 5% 5% 5%;">
            <div class="item item-text-wrap bg-transparent text-center">
                <h3 class="text-center color-white fw-l">{{saudacao}}, <strong class="fw-b">{{user.nome}}</strong>!</h3>
            </div>
            <br>
            <!-- p style="padding: 2px 15%;">
                "Fique atento ao nosso posicionamento no PDV, termos que garantir a melhor exposição em relação a nossa concorrencia"
            </p -->

        </div>
    </ion-content>
    <div class="bar btn-bar-footer p-20">
        <button class="button button-balanced button-block" ng-click="go('app.checkin')">
            <i class="fa fa-check" aria-hidden="true"></i> Check-In
        </button>
    </div>

</ion-view>
