<ion-view view-title="Home" view-cache="false"  hide-back-button="true">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="fundo">
        <header-logo></header-logo>

        <div class="text-justify color-purple" style="padding: 10% 5% 5% 5%;">
            <h3 class="text-center white">Boa tarde, {{user.nome}}!</h3>
            <br />
            <!-- p style="padding: 2px 15%;">
                "Fique atento ao nosso posicionamento no PDV, termos que garantir a melhor exposição em relação a nossa concorrencia"
            </p -->
        </div>
    </ion-content>


</ion-view>
