<ion-view view-title="Notiifcações Detalhes" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <header-logo></header-logo>

        <div class="padding">
            <div class="list list-inset borda-grey br-10 header-block">

                <div class="item item-text-wrap">
                    <div class="color-purple">{{dados.titulo}}</div>
                </div>
                <div class="item item-text-wrap">
                    <div class="color-purple" ng-bind-html="dados.msg"></div>
                </div>

            </div>
        </div>

    </ion-content>

</ion-view>
