<ion-view view-title="Programa de Mercado - Resumo" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">
            <header-logo-mini></header-logo-mini>

            <p class="title-page text-center m-0 mt-15">Confirme as Informações</p>

            <div ng-repeat="(key, value) in formularios_respostas track by $index">
                <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                    <h4 class="padding text-center">
                        {{value.nome}}
                        <small ng-show="value.subtitulo" class="d-block text-center">{{value.subtitulo}}</small>
                    </h4>
                    <div>
                        <div class="item item-text-wrap m-0">
                            <div>{{value.fcv_resposta}}</div>
                            <div ng-repeat="(ki, vi) in value.imagens" class="text-center" style="max-width: 100%;">
                                <img ng-src="{{vi.img}}" style="max-width: 95%; max-height: 95%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="wp-50 pr-5 pull-left">
                <a class="button button-block button-assertive" ng-href="#/app/programa_mercado"><i class="fa fa-undo" aria-hidden="true"></i> Refazer</a>
            </div>
            <div class="wp-50 pl-5 pull-right">
                <a class="button button-block button-balanced" ng-click="confirmar()"><i class="fa fa-check-square-o" aria-hidden="true"></i> Finalizar</a>
            </div>
        </div>
    </ion-content>

</ion-view>
