<ion-view view-title="Programa de Mercado - Resumo" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">
            <header-logo-mini></header-logo-mini>
            <msg></msg>
            
            <div ng-repeat="(key, value) in formularios">
                <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                    <h4 class="padding text-center">{{value.nome}}</h4>
                    <h5 ng-show="value.subtitulo" class="padding text-center">{{value.subtitulo}}</h5>
                    <div>
                        <div class="item item-text-wrap">
                            {{value.fcv_resposta}}
                            <div ng-repeat="(keyImage, valueImage) in imagens" class="text-center">
                                <img ng-src="{{valueImage.image}}" class="max-width: 95%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="button button-block button-royal" ng-href="#/app/cliente/{{cliente.id}}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Concluir</a>
        </div>
    </ion-content>

</ion-view>
