<ion-view view-title="Programa de Mercado" view-cache="false">

    <ion-nav-bar class="bar-stable bar-purple">
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="fundo">
        <div class="padding">

            <header-logo-mini></header-logo-mini>

            <msg></msg>

            <a ng-show="msg" class="button button-block button-balanced" ng-href="#/app/programa_mercado_resumo"><i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmar</a>

            <div ng-repeat="(key, value) in formularios" ng-if="sequencia(value, key) > 0">
                <div class="list list-inset borda-grey" style="border-radius: 10px; margin: 6px 0; border: none; background: #eee;">
                    <h4 class="padding text-center">
                        {{value.nome}}
                        <small ng-show="value.subtitulo" class="d-block p-0 text-center">{{value.subtitulo}}</small>
                    </h4>
                    <div class="item-input" style="border:none;">

                        <div ng-if="value.tipo === 'radio'" style="width: 100%">
                            <ion-list>
                                <ion-radio name="seq_radio_{{value.id}}"  ng-repeat="(k, v) in value.opcoes" value="" ng-model="value[k]" ng-change="atualizar(value, v, k)">{{v}}</ion-checkbox>
                            </ion-list>
                        </div>
                        <div class="clearfix"></div>

                        <div ng-if="value.tipo === 'checkbox'" style="width: 100%">
                            <ion-list>
                                <ion-checkbox ng-repeat="(k, v) in value.opcoes" ng-model="value[k]" value="" ng-change="atualizar(value, v, k)">{{v}}</ion-checkbox>
                            </ion-list>
                        </div>
                        <div class="clearfix"></div>

                        <div class="m-0" ng-if="value.tipo === 'select'" style="width: 100%">
                            <div>
                                <label class="item item-input">
                                    <select name="seq_select_{{value.id}}">
                                        <option ng-repeat="(k, v) in value.opcoes" ng-model="valor_selecionado" value="{{v}}" ng-change="atualizar(value, valor_selecionado)">{{v}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="m-0" ng-if="value.tipo === 'text'" style="width: 100%">
                            <input type="text" name="seq_text_{{value.id}}" ng-model="valor_selecionado" value="{{value.valor}}" ng-change="atualizar(value, valor_selecionado)" style="border: 1px solid #ccc;">
                        </div>
                        <div class="clearfix"></div>

                        <div class="m-0" ng-if="value.tipo === 'textarea'" style="width: 100%">
                            <textarea ng-model="valor_selecionado" name="seq_textarea_{{value.id}}" rows="5" style="width: 100%; border: 1px solid #ccc;" ng-change="atualizar(value, valor_selecionado)">{{value.valor}}</textarea>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="padding item-footer">
                        <div ng-if="btn_camera > 0" ng-repeat="(keyFoto, valueFoto) in qtd_btn_camera">
                            <button class="button button-block button-royal" ng-click="tirarFoto(value, valueFoto.seq_foto, keyFoto)"><i class="{{valueFoto.tirado}}" aria-hidden="true"></i> Tirar Foto {{valueFoto.seq_foto}}</button>    
                        </div>
                        <button class="button button-block button-positive m-0" ng-click="proximo(value, key)">Próximo <i class="ion-arrow-right-c"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
