.fundo {
    background: #432461;
}
.text-justify {text-align: justify;}

.bar.bar-black .title,.bar.bar-purple .title {
    color: #ffffff;
}
.white{color: #ffffff;}
.grey{color: #ccc;}
.black{color: #ffffff !important; background-color: #111 !important;}
.purple{color: #ffffff !important; background-color: #896da5 !important;}
.item-complex .item-content, .purple .item{color: #ffffff !important; background-color: #896da5 !important;}

.bar.bar-black,
.tabs.tabs-black {
    border-color: #000 !important;
    background-color: #111 !important;
    background-image: none !important;
    color: #fff !important;
}
.bar.bar-purple,
.tabs.tabs-purple {
    border-color: #896da5 !important;
    background-color: #896da5 !important;
    background-image: none !important;
    color: #fff !important;
}
.bar.bar-black .button-clear{
    color: #fff !important;
}
.bar.bar-purple .button-clear{
    color: #fff !important;
}

.input-border{
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
}
button.input-border{
    width: 97% !important;
}


.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    border-radius: 2%;
}

.radio-content,
.checkbox-content
{
    font-size: 11px;
}
.radio-content .radio-icon,
.checkbox-content .checkbox-icon
{
    font-size: 11px;
}

.bordas{
    border-radius: 10px;
    border: none;
}
.bordas.branco{
    background:#fff;
}
.borda-grey .item{
    border-top:1px solid #ccc!important;
    border-left:0!important;
    border-right:0!important;
}
.item.item-avatar{
    border-radius: 10px!important; margin: 7px 5px; border: none;
}
.item.item-avatar img{
    max-width: 75px; max-height: 75px; top: 0; left: 0;
}
.item.item-avatar h2{
    margin: 0 0 2px 10px; font-size:12qpx;
}
.item.item-avatar p{
    margin: 0 0 2px 10px; font-size:11px;
}
.logo-app{
    max-width: 35%; padding : 30px 0px 10px 0px;
}
.title-page{
    font-size:13px;
    color:#fff;
}
.text-center{
    text-align: center;
}
.label{
    font-size:12px;
    position: absolute;
    top: 15px;
    right: 10px;
    height:20px;
    width:20px;
    border-radius:50%;
    text-align: center;
}
.label-purple{
    background:#896da5;
    color:#fff;
}
.label-amarelo{
    background:#e6b500;
    color:#fff;
}
.label-verde{
    background:#33cd5f;
    color:#fff;
}
.item-icon-right .icon {
    right:20px;
}
.item-icon-left .icon, .item-icon-right .icon{
    font-size:40px;
}
.item-radio input:checked+.radio-content .item-content{
    background:#896da5;
    color:#fff;
}
.item-radio .radio-icon{
    color:#fff;
}
.item{
    border:0;
}
.item-input{
    padding:0;
}
.o-hidden{
    overflow: hidden;
}
.m-b-1{
    margin-bottom:1px!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color:#896da5;
}
.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before{
    background:#896da5;
    border-color:#896da5;
}
.button.button-block, .button.button-full{
    margin-top:10px;
    margin-bottom:10px;
}
.checkbox-content, .checkbox-content .checkbox-icon, .radio-content, .radio-content .radio-icon{
    font-size:14px;
}
.d-block{
    display:block;
}
button.button-block+button.button-block{
    margin:5px 0 !important;
}
.text-form{
    border: 1px solid #ccc!important;
    background: #fff!important;
    padding: 15px!important;
    height: auto!important;
    resizesize:none;
}
.icon.fa{
    font-size:20px;
}

.input-label.table-left{
    font-size:14px;
}
.table-pad{
    padding:16px;
}
.table-h{
    font-size:12px;
}
.list-inset .item.item-input input{
    padding-right:16px;
    padding-bottom:0;
}

.list-elements .item{
    margin:5px 0;
}
.list-elements a{
    text-decoration: none;
}
textarea{
    resize:none;
}
.list-atv input,.list-atv textarea{
    margin:5px 0;
    padding:5px;
    border:1px solid rgba(0,0,0,.1)!important;
    border-top:0!important;
    border-left:0!important;
    border-right:0!important;
}
.list-atv input:focus,.list-atv textarea:focus{
    background:#eee;
}
.row.item.item-input{
    border-bottom:1px solid #ccc!important;
}
.item-footer{
    border-top:1px solid #ccc;
}
.icon-rel{
    font-size:60px;
}
.color-red{
    color:#d9534f;
}
.color-green{
    color:#5cb85c;
}
.color-yellow{
    color:#f0ad4e;
}
.color-blue{
    color:#00aced;
}
.color-grey{
    color:grey;
}
.color-black{
    color:#000;
}
.balanced-bg{
    color:#fff;
}
.item h1{
    font-size:26px
}
.item h1 small{
    font-size:0.6em;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align:left;
}

.login-form input{
    padding:5px 10px !important;
    color:#896da5;
}

progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value { background: #0063a6; }

.button.button-positive,.btn-purple{
    background:#896da5;
    color:#fff;
}

.btn-purple:hover,.btn-purple:focus,.btn-purple:active,
.button.button-positive:hover,.button.button-positive:focus,.button.button-positive:active{
    background:#af94ca;
    color:#fff;
}
.background-green,.bg-green{
    background:green;
    color:#fff;
}
.background-white,.bg-white{
    background:#fff;
}
.color-purple{
    color:#896da5;
}
.item-footer .col .button{
    font-size:14px;
}
.triangle-up,.triangle-down,.triangle-up:after,.triangle-down:after{
    display:inline-block;
}
.triangle-up:after,.triangle-down:after{
    content:"";
    width:0;
    height:0;
    display:inline-block;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
}
.triangle-up:after{
    border-bottom:10px solid green;
}
.triangle-down:after{
    border-top:10px solid red;
}
.vol-left{

}
.vol-right{
    font-size:12px;
}
.button-purple-o{
    color:#896da5;
    background:transparent;
}
.button-grey{
    color:#fff;
    background:#c3c3c3;
}
.button-grey:hover,.button-grey:focus,.button-grey:active{
    color:#fff;
    background:#ccc;
}
.timeline{
    position:relative;
    height:65px
}
.timeline:before,.timeline:after{
    content:"";
    position:absolute;
    left:50%;

}
.timeline:before{
    width:2px;
    margin-left:-1px;
    height:100%;
}
.timeline:after{
    width:10px;
    height:10px;
    top:50%;
    border-radius:50%;
    margin-left:-5px;
    margin-top:-5px;
}
.timeline-green:before,.timeline-green:after{
    background:#5cb85c;
}
.timeline-red:before,.timeline-red:after{
    background:#d9534f;
}
.timeline-yellow:before,.timeline-yellow:after{
    background:#f0ad4e;
}
.timeline-grey:before,.timeline-grey:after{
    background:#ccc;
}
.timeline-details{
    line-height:15px;
}
.timeline-details strong{
    font-size:13px;
}
.timeline-details span,.timeline-details small{
    font-size:11px;
}
.timeline-details i{
    height: 45px;
    line-height: 45px;
}
.list-striped .item:nth-child(odd) {
    background-color: #f1f1f1;
}
.btn-vermais,.btn-vermais:focus,.btn-vermais:active,.btn-vermais:hover,.btn-vermais.activated{
    width:100%;
    text-align:right;
    line-height:20px;
    min-height:20px;
    font-size:12px;
    padding:0;
    border:0;
    background:transparent;
}
.arc:last-child{
    fill: #eee!important;
}
.ranking-head{
    font-size:12px;
    font-weight:bold;
}
.ranking-body{
    font-size:14px;
}
.teste_graph text{
    display:none!important;
}
.backdrop,.platform-android .action-sheet-backdrop.active {
    background-color:rgba(0,0,0,0.5);
}
.loading-container .loading{
    background-color:rgba(67,36,97,0.9);
}
.m-b-5{
    margin-bottom:5px;
}
.m-t-5{
    margin-top:5px;
}
.m-b-10{
    margin-bottom:10px;
}
.m-t-10{
    margin-top:10px;
}
.m-10{
    margin:10px;
}
progress {
    border:1px solid rgba(0,0,0,.3)
}
progress::-webkit-progress-bar {
    background:#eee;
}
progress::-webkit-progress-value {
    background:rgba(67,36,97,0.9);
} 
progress::-moz-progress-bar {
    background:#eee;
}
.d-iblock{
    display:inline-block
}
.h-100{
    height:100px;
}
.h-150{
    height:150px
}
.h-200{
    height:200px;
}
.h-250{
    height:250px
}
.va-t{
    vertical-align: top;
}
.header-block{
    border-radius: 10px;
    margin: 6px 0;
    border: none;
    background: #eee;
}
//Width Porcentagem
@for $i from 1 through 100 {
    .wp-#{$i} { width: 0% + $i; }
}
//Margin Pixels
@for $i from 0 through 50 {
    .m-#{$i} { margin: 0px+$i+!important; }
}
//Margin-top Pixels
@for $i from 0 through 50 {
    .mt-#{$i} { margin-top: 0px+$i+!important; }
}
//Margin-bottom Pixels
@for $i from 0 through 50 {
    .mb-#{$i} { margin-bottom: 0px+$i+!important; }
}
//Padding Pixels
@for $i from 0 through 50 {
    .p-#{$i} { padding: 0px+$i+!important; }
}
//Padding-left Pixels
@for $i from 0 through 20 {
    .pl-#{$i} { padding-left: 0px+$i+!important; }
}
//Padding-right Pixels
@for $i from 0 through 20 {
    .pr-#{$i} { padding-right: 0px+$i+!important; }
}
svg .legend-title{
    display:none;
}
.cobertura-graph svg .legend-value{
    font-size:30px!important;
    font-weight:bold!important;
}
.rota-graph svg .legend-value{
    font-size:22px!important;
    font-weight:bold!important;
}
.rac-graph svg .legend-value{
    font-size:40px!important;
    font-weight:bold!important;
    margin-top:-20px;
}
.platform-android .bar .title{
    font-size:14px;
}
input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input){
    background:transparent;
}
.no-border{
    border:none;
}
.border-form{
    border: 1px solid #ccc;
}
.br-10{
    border-radius:10px;
}
.platform-android .action-sheet .action-sheet-title,
.action-sheet-group.action-sheet-options button.button{
    padding:10px;
    line-height:inherit;
}
.action-sheet-group.action-sheet-options button.button{
    border-top:1px solid #ccc;
}
.mini-button.button{
    min-height: 42px;
    max-height: 42px;
    min-width: 42px;
}
.avatar{
    max-width:150px;
}
.avatar-button{
    background:transparent;
    margin:0 auto;
    box-shadow:0 0 15px rgba(0,0,0,0.2) inset;
    border:1px solid rgba(0,0,0,0.2);
    position:relative;
}
.avatar-footer{
    color:#fff;
    background:rgba(0,0,0,.4);
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:25px;
    line-height:25px
}
.avatar-round{
    overflow:hidden;
    border-radius:50%;
}
.avatar-square{
    overflow:hidden;
    border-radius:10px;
}
.avatar-round{
    overflow:hidden;
    border-radius:50%;
}
.list-atv input, .list-atv textarea{
    font-weight: lighter;
}
.list-atv span.input{
    border: 1px solid rgba(0,0,0,.1)!important;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    width: 100%;
    font-size:14px;
    font-weight: lighter;
}
.input-label{
    font-size:14px;
}
.input-label {
    width: 30%;
}