<div class="tabs tabs-icon-only tabs-black">
    <a class="tab-item" ng-click="go('app.checkin')">
        <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 30px; margin-top: 8px;"></i>
    </a>
    <a class="tab-item" ng-click="go('app.cervejas')">
        <i class="fa fa-beer" aria-hidden="true" style="font-size: 30px; margin-top: 8px;"></i>
    </a>
    <a class="tab-item" ng-click="go('app.rota_bam')">
        <i class="fa fa-th-list" aria-hidden="true" style="font-size: 30px; margin-top: 8px;"></i>
    </a>
    <a class="tab-item" ng-click="go('app.programa_mercado')">
        <i class="fa fa-map-signs" aria-hidden="true" style="font-size: 30px; margin-top: 8px;"></i>
    </a>
    <a class="tab-item" ng-click="go('app.ativacao_52')">
        <i style="font-size: 30px; margin-top: 8px;">52</i>
    </a>
    <a class="tab-item" ng-click="go('app.ocorrencias')">
        <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 30px; margin-top: 8px;"></i>
    </a>
</div>